<% layout('boilerplate') %>

<div class="container-fluid">
  <h3 class="text-dark mb-1">Update Subsector</h3>
</div>

<form class="shadow-sm" style="margin: 38px;margin-top: 29px;padding: 26px;" action="/subsectors/<%= subsector._id %>/update" method="post">

  <input class="form-control" name="subsectorName" type="text" placeholder="Subsector Name" value="<%= subsector.subsectorName %>" required>

  <input class="form-control" name="location" type="number" placeholder="Location" style="margin-top: 39px;" value="<%= subsector.location %>" required>

  <input class="form-control" name="username" type="text" placeholder="Username" style="margin-top: 39px;" value="<%= subsector.username %>" required>

  <button  class="btn btn-primary" data-bs-hover-animate="pulse" type="submit" style="margin-top: 40px;"><i class="fa fa-plus"></i>&nbsp;Edit</button>
</form>

</div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i>
</a>
</div>