<% layout('boilerplate') %>

<div class="container-fluid">
  <h3 class="text-dark mb-1">X-Ray</h3>
</div>

<form class="shadow-sm" style="margin: 38px;margin-top: 29px;padding: 26px;" action="/requests/x-ray/<%= id %>/" method="post">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">x-ray Image</label>
    <input class="form-control" name="x_ray_image" type="file" id="formFile">
  </div>

  <button  class="btn btn-primary" data-bs-hover-animate="pulse" type="submit" style="margin-top: 40px;"><i class="fa fa-plus"></i>&nbsp;Submit</button>
</form>

</div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i>
</a>
</div>

