<% layout('boilerplate') %>

<div class="container-fluid">
  <h3 class="text-dark mb-1">Referrals</h3>
</div>

<form class="shadow-sm validated-form" style="margin: 38px;margin-top: 29px;padding: 26px;" action="/referrals/create" method="post" novalidate>

  <input class="form-control mb-4" id="idNumber" name="idNumber" type="text" placeholder="Secotor Name" required>
  <ul id="searchResults"></ul>

  <input class="form-control mb-4" name="idin" id="idin" type="text" placeholder="Secotor ID" required>
 

  <input class="form-control" name="location" type="text" placeholder="Location" required>

  <input class="form-control mt-3" id="fingerprintin" name="idNum" type="text" placeholder="Fingerprint">
  <p class="mt-1" id="status"></p>
  <button class="btn btn-primary mb-4" type="button" id="fingerprint">Take Fingerprint</button>

  <input class="form-control mb-3" id="emergencyCode" name="emergencyCode" type="emergencyCode" placeholder="Please Dont Generate the Id if the user have fingerprint">
  <button class="btn btn-primary mb-3" id="generateId" type="button">Generate</button>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Referral Type</label>
    <textarea class="form-control" name="referralType" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Weaknesses</label>
    <textarea class="form-control" name="weaknesses" id="exampleFormControlTextarea1" rows="3"required></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Current Case</label>
    <textarea class="form-control" name="currentCase" id="exampleFormControlTextarea1" rows="3" required></textarea>
  </div>

  

  <button  class="btn btn-primary" data-bs-hover-animate="pulse" type="submit" style="margin-top: 40px;"><i class="fa fa-plus"></i>&nbsp;ADD</button>
</form>

</div>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i>
</a>
</div>













<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const searchInput = document.getElementById('idNumber');
  const searchResults = document.getElementById('searchResults');
  const idInput = document.getElementById('idin')
  // Function to handle filling the input with the clicked result's name
  const fillInput = (event) => {
    const clickedResult = event.target;
    searchInput.value = clickedResult.innerText;
    idInput.value = clickedResult.id;
    searchResults.innerHTML = "";
  };

  // Function to perform the live search
  const performLiveSearch = async () => {
    const query = searchInput.value;

    try {
      // Make a GET request to the server to get the search results
      const response = await axios.get(`/subsectors/search?query=${query}`);
      const results = response.data;
      // console.log(results)
      // Clear the previous results
      searchResults.innerHTML = '';

      // Create a new list item for each result
      results.forEach((result) => {
        const listItem = document.createElement('li');
        listItem.innerText = result.name;
        listItem.id= result._id 
        listItem.addEventListener('click', fillInput); // Add click event listener
        searchResults.appendChild(listItem);
      });
    } catch (error) {
      console.error(error);
    }
  };

  // Event listener for input changes
  searchInput.addEventListener('input', performLiveSearch);
});
</script>

<script>
  // Get the button and input elements by their IDs
  const fingerprintButton = document.getElementById('fingerprint');
  
  // Add a click event listener to the fingerprint button
  fingerprintButton.addEventListener('click', function() {


    const status = document.getElementById("status")
    status.innerText = "PLEASE WAIT"

    const fingerprintInput = document.getElementById("fingerprintin")
    // Send a POST request using Axios
    axios.post('http://192.168.43.56:3000/find')
      .then(function(response) {
        console.log(response.data);
        if(response.data.msg){
          status.innerText = "Fingerprint Verified"
          fingerprintInput.value = response.data.id
        }else{
          status.innerText = "fingerprint Not found"
        }
      })
      .catch(function(error) {
        // Handle any errors that occurred during the request
        status.innerText = "oops try again"
        console.error(error);
      });
  });
</script>


<!-- Include uuid library -->
<!-- Include uuid library -->
<script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>

<script>
  document.getElementById('generateId').addEventListener('click', function() {
    // Generate a unique ID using uuid
    const uniqueId = uuidv4();
    document.getElementById('emergencyCode').value = uniqueId;
  });
</script>

