

<% layout('boilerplate') %>

<div class="container-fluid">
  <h3 class="text-dark mb-1">Add Product</h3>
</div>

<form class="shadow-sm" style="margin: 38px;margin-top: 29px;padding: 26px;" action="/employees" method="post">
  <input class="form-control" name="idNumber" type="text" placeholder="Id Number">

  <input class="form-control" name="fullName" type="text" placeholder="Full Name" style="margin-top: 39px;">

  <input class="form-control" name="email" type="text" placeholder="example@gmail.com" style="margin-top: 39px;">

  <input class="form-control" name="username" type="text" placeholder="Username must me unique" style="margin-top: 39px;">

  <select class="form-control" style="margin-top: 36px;" name="role" required>
    <option value="admin">Admin</option>
    <option value="manager">Manager</option>
    <option value="employee">Employee</option>
    <option value="lab_tech">Lab Technician</option>
    <option value="doctor">Doctor</option>
    <option value="card">Card Room</option>
    <option value="pharmacist">Pharmacist</option>
   </select>
  <button  class="btn btn-primary" data-bs-hover-animate="pulse" type="submit" style="margin-top: 40px;"><i class="fa fa-plus"></i>&nbsp;ADD</button>
</form>

</div>
</div>\
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i>
</a>
</div>