<h1>Create Subsector</h1>

<form action="/subsector/create" method="POST">
  <div>
    <label for="subsectorName">Subsector Name</label>
    <input type="text" id="subsectorName" name="subsectorName" required>
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="location" required>
  </div>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
  </div>
  <button type="submit">Create</button>
</form>
