<% layout('boilerplate') %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">Disease Rate Prediction For the Next 5 Years</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><%= name %></th>
                                <th>Year</th>
                                <th>Rate</th>
                            </tr>
                        </thead>
                       
                         
                        
                        <tbody>
                            <% Object.keys(predictions).forEach(key => { %>

                                <% for(data of predictions[key]){ %>
                            <tr>
                                <td><%= key %></td>
                                <td><%= data[0] + 1 %></td>
                                <td><%= data[1] %></td>
                            </tr>
                            <%  }%>
                            <%  })%>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    
    


