<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
</head>
<body>
  <h1>Change Password</h1>
  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
  <form method="POST" action="/change-password">
    <label>Current Password:</label>
    <input type="password" name="currentPassword" required><br><br>
    <label>New Password:</label>
    <input type="password" name="newPassword" required><br><br>
    <input type="submit" value="Change Password">
  </form>
</body>
</html>
